<%- include('./layout/header') %>
    <style>
        .blockHidden {
            display: none !important;
        }
    </style>
    <div class="bookWrapper ui vertically divided grid" style="padding: 0 200px;">
        <div class="two column row">
            <div class="column" style="display: flex;">
                <div>
                    <h1 style="font-size: 26px; color: #494949;"><%= book.name %></h1>
                    <img style="width: 200px;" src="<%= "/img/"+book.cover %>">
                </div>
                <div style="margin-top: 45px; margin-left: 10px;">
                    <p>   
                        <span style="color: #666666;">Location</span>: <%= book.location%>
                    </p>
                    <p>   
                        <span style="color: #666666;">Author</span>: <%= book.author%>
                    </p>
                    <p> 
                        <span style="color: #666666;">Press</span>: <%= book.press%>
                    </p>
                    <p>
                        <span style="color: #666666;">Published Date</span>: <%= book.date%>
                    </p>
                    <p> 
                        <span style="color: #666666;">Score</span>: 
                        <span class="ui star rating" data-rating="<%= book.score %>" data-max-rating="5"></span>
                    </p>
                    <p>
                        <span style="color: #666666;">Inventory</span>: <%= book.inventory%>
                    </p>
                    <p>
                        <span style="color: #666666;">Pv</span>: <%= book.pv%>
                    </p>
                    
                </div>
            </div>
            <div class="column">
                <div style="width: 100px;" class="borrowBtn ui vertical animated button orange right floated <% if (!book.inventory) {%> disabled <% } %>" tabindex="0">
                    <div class="hidden content">Borrow</div>
                    <div class="visible content">
                        <i class="book icon"></i>
                    </div>
                </div>           
                <div style="width: 150px;" class="ui reBtn vertical animated button blue right floated <% if (book.inventory) {%> blockHidden <% } %> "tabindex="0">
                    <div class="hidden content">Make a Reservation</div>
                    <div class="visible content">
                        <i class="flag icon"></i>
                    </div>
                </div>           
            </div>
        </div>
        <div class="one column row">
            <div class="column">
                <h2 style="color:#4fc08d; font-size: 20px;">Brief Introduction</h2>
                <p><%- book.introduction %></p>
            </div>
            
        </div>

        <!-- 借 book -->
        <div class="ui small test modal bModel transition hidden">
            <div class="header">Borrow the book </div>
            <div class="content">
                <p>Are you sure you want to Borrow this book?</p>
            </div>
                <div class="actions" >
                    <div id="no" class="ui negative button">No </div>
                    <a id="sureLink" href="/library/<%= book._id%>/borrow" style="color: #fff; ">
                        <div id="yes" class="ui positive right labeled icon button" onclick="">
                            Yes <i class="checkmark icon"></i>
                        </div>
                    </a>
                </div>
        </div>

        <div class="ui small test modal alertModal transition hidden">
            <div class="header">Make a Reservation </div>
            <div class="content">
                <p>Are you sure you want to make a reservation for this book?</p>
            </div>
                <div class="actions" >
                    <div id="no" class="ui negative button">No </div>
                    <a id="sureLink" href="#" style="color: #fff; ">
                        <div id="yes" class="ui positive right labeled icon button" onclick="">
                            Yes <i class="checkmark icon"></i>
                        </div>
                    </a>
                </div>
        </div>
    </div>
    <script>
        $(function() {
            $('.ui .rating').rating('disable');
            $('.borrowBtn').on('click', function() {
                 $('.small.bModel').modal('show');
            })
            $('.reBtn').on('click', function() {
                 $('.small.alertModal').modal('show');
            })
        })
    </script>
<%- include('./layout/footer') %>