<%- include('./layout/header') %>
    <div class="userWrapper ui vertically divided grid" style="padding: 0 200px;">
        <div class="two column row">
            <div class="column" style="display: flex;">
                <div>
                    <h1 style="font-size: 26px; color: #494949;">
                        <%= user.name %>
                    </h1>
                    <img style="width: 200px;" src="<%= "img/"+user.avatar %>">
                </div>
                <div style="margin-top: 45px; margin-left: 10px;">
                    <p>
                        <span style="color: #666666;">Id</span>:
                        <%= user.id%>
                    </p>
                    <p>
                        <span style="color: #666666;">Gender</span>:
                        <%= user.gender%>
                    </p>
                    <p>
                        <span style="color: #666666;">Introduction</span>:
                        <%= user.bio%>
                    </p>
                </div>
            </div>
            <div class="column">
                <div style="width: 100px;" class="ui vertical animated button orange right floated" tabindex="0">
                    <div class="hidden content">Edit</div>
                    <div class="visible content">
                        <i class="user icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="one column row">
            <div class="column">
                <h2 style="color:#4fc08d; font-size: 20px;">Borrowed books</h2>
                <div class="ui items">
                   <% borrow.forEach(function(item) {%>
                    <div class="borrowItem item" data-id="<%= item._id %>" data-bookid="<%= item.bookId%>">
                        <div class="ui small image">
                            <img style="height: 180px;" src="/img/upload_3a5ef2fcdf6f7679eab74faf6ab10d05.jpg">
                        </div>
                        <div class="content">
                            <div class="header"><%= item.name %></div>
                            <div class="meta">
                                <span class="price">1200 美元</span>
                                <span class="stay">1 个月</span>
                            </div>
                            <div class="description">
                                <p></p>
                            </div>
                            <div class="extra returnBtn">
                                <div class="ui right floated primary button">Return the book <i class="right chevron icon"></i> </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>

        <!-- 借 book -->
        <div class="ui small test modal transition hidden">
            <div class="header">Return the book </div>
            <div class="content">
                <p>Are you sure you want to return this book?</p>
            </div>
            <div class="actions">
                <div id="noDelete" class="ui negative button">No </div>
                <div id="yesDelete" class="ui positive right labeled icon button" onclick="$(this).find('#sureLink')[0].click();">
                    <a style="color: #fff; " id="sureLink" href="#">Yes</a> <i class="checkmark icon"></i>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $('.ui .rating').rating('disable');
            // 删除
            var returnBtn = $('.returnBtn');
            $.each(returnBtn, function (index, item) {
                $(item).on('click', function (event) {
                    var itemId = $(this).closest('.borrowItem').data('id'),
                        itemBookId = $(this).closest('.borrowItem').data('bookid');
                    
                    $('.small.modal').find('#sureLink')[0].href = "/library/" + itemId + "/return/" + itemBookId;
                    $('.small.modal').modal('show');
                })
            });
        })
    </script>
    <%- include('./layout/footer') %>